<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>454614187731-lfqp960qi16l44tkagu940bfgng64v6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454614187731-lfqp960qi16l44tkagu940bfgng64v6v</string>
	<key>API_KEY</key>
	<string>AIzaSyD7cFLTS_0b0V8CGkW8_NCV6g3iee1yVf8</string>
	<key>GCM_SENDER_ID</key>
	<string>454614187731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ucam.StarWarsApp</string>
	<key>PROJECT_ID</key>
	<string>starwars-f6deb</string>
	<key>STORAGE_BUCKET</key>
	<string>starwars-f6deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454614187731:ios:c673d58db84641d9</string>
	<key>DATABASE_URL</key>
	<string>https://starwars-f6deb.firebaseio.com</string>
</dict>
</plist>